<h2>Coursework</h2>

<ul class="nav nav-pills nav-justified" ng-controller="portfolioController as portfolio">
  <li ng-repeat="course in courses" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">{{ course.number }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li ng-repeat="assignment in course.assignments">
        <a ng-click="portfolio.GetFile(course.number, assignment.name)">{{ assignment.name }}</a>
      </li>
    </ul>
  </li>
 </ul>

<ul class="nav nav-tabs">
  <li class="active"><a>calc</a></li>
  <li><a>calcast</a></li>
</ul>
<div class="highlight">
  <pre>
    <code>
    </code>
  </pre>
</div>